
<div class="container perfil-container">
	<a class="custom-link back-link" data-toggle="tab" href="#panel-fondos"><i class="demo-icon icon-iconsapp_arrow-left icon-left"></i>Volver</a>
	<div class="custom-section mb-large">
		<h1 class="title-1">Detalle de fondos vigentes</h1>
		<div class="collapse-list">
			<div class="row collapse-list-header ifDesktop">
				<div class="col-12 col-md-3">
					<span class="body-copy-bold">Nombre del fondo</span>
				</div>
				<div class="col-12 col-md-4">
					<span class="body-copy-bold">Composición</span>
				</div>
				<div class="col-12 offset-md-1 col-md-2">
					<span class="body-copy-bold">Rendimiento ponderado</span>
				</div>
				<div class="col-12 col-md-2">
					<span class="body-copy-bold">Rendimiento conservador</span>
				</div>
			</div>
			<div class="simple-collapse-mobile simple-collapse-desktop">
				{{for MisFondosVigentes}}
				<div class="collapse-item">
					<a class="collapsed ifMobile" data-toggle="collapse" href="#collapseItem-{{:#index}}" role="button" aria-expanded="false" aria-controls="collapseExample">
						<i class="demo-icon opener icon-iconsapp_primary-arrow-down icon-left"></i><span>{{:nombre}}</span>
					</a>
					<div class="collapse dont-collapse-sm colapsible-icon" id="collapseItem-{{:#index}}" style="">
						<div class="detail-info">
							<div class="pt-3 pb-3 pt-md-0 pb-md-0">
								<div class="row">
									<div class="col-12 col-md-3">
										<div class="info-group">
											<div class="body-copy-bold ifMobile">Composición</div>
											<p class="mb-2"><span>{{:nombre}}</span></p>
											<a href="{{:composicionUrl}}"><i class="demo-icon icon-iconsapp_pdf2 icon-left"></i>Descargar composición</a>
										</div>
									</div>
									<div class="col-12 col-md-4">
										<div class="info-group">
											<div class="ifMobile body-copy-bold">Composición</div>
											<p>{{:composicion}}</p>
										</div>
									</div>
									<div class="col-12 offset-md-1 col-md-2">
										<div class="info-group">
											<div class="ifMobile body-copy-bold">Rendimiento ponderado</div>
											<p>{{:~f(rendimientoPonderado,'123.45') }}%</p>
										</div>
									</div>
									<div class="col-12 col-md-2">
										<div class="info-group">
											<div class="ifMobile body-copy-bold">Rendimiento conservador</div>
											<p>{{:~f(rendimientoConservador,'123.45') }}%</p>
										</div>
										<div class="info-group ifMobile">
											<a href="{{:composicionUrl}}"><i class="demo-icon icon-iconsapp_pdf2 icon-left"></i>Descargar composición</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/for}}
			</div>
		</div>
		<div class="label title-color">{{:txt.detalleFondosNotaFinal1}}</div>
	</div>
</div>